main{
    background-image:url('/assets/background-tijolos.jpg');
    height: 100%;
    width: 100%;
}
mat-card{
    margin: 0 auto;
    padding: 30px;
}

button, input,textarea {
    overflow: visible;
    width: -webkit-fill-available;
}

.card{
    width: 37%;
    height: auto;
}
.title{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
}
.subtitle{
    font-size: 1.1rem;
    text-align: center;
}


.btn{
    margin: 10px;
}