<main>
    <mat-card class="card mat-elevation-z3">
        <mat-card-title class="title">
            Entre em contato
        </mat-card-title>
        <mat-card-title class="subtitle">
            Nos envie, dúvidas, sugestões ou reclamações aqui.
        </mat-card-title>
        
        <div class="form-group"> 
            <!-- nome -->
            <label for="inputText">
                Nome:  
            </label>
            <br>
            <input type="text" id="inputText" placeholder="digite aqui seu nome"required>
        <br>
        <br>
            <!-- email -->
            <label for="inputText">
            E-mail:
            </label>
            <br>
            <input type="text" id="inputText" placeholder="digite aqui seu e-mail" required>
        <br>
        
            <!-- campo de texto -->
            <label for="inputText">
            
            </label>
            <br>
            <textarea id="story" name="story" rows="5" cols="33" class="textarea" placeholder="digite aqui sua reclamação, sugestão ou duvida" required></textarea>
        <br>
        <br>
            <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-secondary">Cancelar</button>
            <button type="button" class="btn btn-outline-info">Enviar</button>
            </div>

        </div>
    </mat-card>
</main>