<mat-card class="cards mat-elevation-z3 ">
    <mat-card-title class="title">
        Filmes sobre pandemia para assistir na pandemia
    </mat-card-title>

    <mat-card-subtitle class="subtitle">
        Lista de filmes que com certeza não vão te ajudar a ficar calmo durante essa pandemia. Mas são bom o suficiente para assistir mesmo assim.
    </mat-card-subtitle>
    <a routerLink="/itens" class="btn btn-primary">Ver mais 

    </a>
</mat-card>

<mat-card class="cards mat-elevation-z3">
    <mat-card-title class="title">
       Os piores filmes do mundo
    </mat-card-title>

    <mat-card-subtitle class="subtitle">
        Esses filmes são tão ruins que ficaram bons e com certeza você vai querer ver 
    </mat-card-subtitle>
    <a routerLink="/itens" class="btn btn-primary">Ver mais</a>
</mat-card>

<mat-card class="cards mat-elevation-z3">
    <mat-card-title class="title">
        Musicais que viraram Filmes 
    </mat-card-title>

    <mat-card-subtitle class="subtitle">
       LUZ, CÂMERA E MÚSICA!
    </mat-card-subtitle>
    <a routerLink="/itens" class="btn btn-primary">Ver mais</a>
</mat-card>