<nav class="navbar mat-elevation-z3 ">
  
    <ul>
        <li class="item" >
            <a routerLink="/home" class="home" aria-label="Home"></a>

        </li>
        <li class="item" >
            <a routerLink="/contato" class="contato" aria-label="Contato"></a>
        </li>

        <li class="item">
            <a routerLink="/filmes" class="filmes" aria-label="Filmes"></a>
        </li>
    </ul>

   <a routerLink="/">
        <img class="logo" src="assets/tickets.png" alt="logo" >
    </a> 
    FilmPedia 
    
</nav>