<mat-card class="cards mat-elevation-z3 um">
    <div class="title">
        Filmes sobre Pandemia para assistir na Pandemia
    </div>
    <div class="text">
        <ol>
            <li>Contagio</li>
            <li>REC</li>
            <li>Epidemia</li>
            <li>O Enigma de Andrômeda</li>
            <li>A gripe</li>
        </ol>
    </div>
</mat-card>

<mat-card class="cards mat-elevation-z3 dois">
    <div class="title">
    Os Piores Filmes da Mundo, mas que valem a pena assistir
    </div>

    <div class="text">
        <ol>
            <li>Sharknade</li>
            <li>Piranhaconda</li>
            <li>Lampreias ao Ataque</li>
            <li> Cinderela Baiana</li>
            <li>The Room</li>
            <li>Birdemic</li>
            <li>Donuts Assassinos</li>
            <li>Ataque dos Vermes Malditos</li>
        </ol>
    </div>
</mat-card>
<mat-card class="cards mat-elevation-z3 tres">
    <div class="title">
        Musicais que viraram filmes
    </div>

    <div class="text">
        <ol>
            <li>Moulin Rouge - Amor em Vermelho (2001)</li>
            <li>O Fantasma da Opera</li>
            <li>Mamma Mia!</li>
            <li>Hairspray - Em Busca da Fama</li>
            <li>Grease</li>
            <li>A Noviça Rebelde</li>
            <li>Amor, Sublime Amor</li>
            <li>Rent</li>
        </ol>   
    </div>
</mat-card>